<ul class="sidebar-nav list-group bg-light">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}" class="text-dark">{{ user.get_username }}</a></li>
    <!-- Використовуйте 'text-dark' для темного тексту на світлому фоні -->
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}" class="text-danger">Logout</a></li>
    <!-- Використовуйте 'text-danger' для червоного тексту -->
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}" class="text-primary">Login</a></li>
    <!-- Використовуйте 'text-primary' для синього тексту -->
  {% endif %}
  <!-- Решта коду залишається незмінним -->

  <br>

  <li class="list-group-item"><a href="{% url 'crewing:index' %}" class="text-dark">Home</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:crew-list' %}" class="text-dark">Crew</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:vessel-list' %}" class="text-dark">Vessels</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:vessel-type-list' %}" class="text-dark">Department</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:company-list' %}" class="text-dark">Companies</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:position-list' %}" class="text-dark">Crew ranks</a></li>
</ul>

