{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4">
      Username: {{ crew.username }}
      <a href="{% url "crewing:crew-delete" pk=crew.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>

      <a href="{% url "crewing:crew-update" pk=crew.id %}" class="btn btn-secondary link-to-page">
        Update
      </a>
    </h1>

    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>First name:</strong> {{ crew.first_name }}</p>
        <p class="card-text"><strong>Last name:</strong> {{ crew.last_name }}</p>
        <p class="card-text"><strong>Position:</strong> {{ crew.position }}</p>
        <p class="card-text"><strong>Date of joining:</strong> {{ crew.date_of_joining }}</p>
        <p class="card-text"><strong>Date of leaving:</strong> {{ crew.date_of_leaving }}</p>
        <p class="card-text"><strong>Vessel:</strong> {{ crew.vessel }}</p>

        {% if crew.vessel_type.all %}
          <p class="card-text"><strong>Diplomas:</strong> {{ crew.vessel_type.all|join:", " }}</p>
        {% else %}
          <p class="card-text">No diplomas!</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
