{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-4 mb-4">
            CREW
            <a href="{% url 'crewing:crew-create' %}" class="btn btn-secondary link-to-page">
                Create
            </a>
        </h1>

        <form action="" method="get" class="form-inline mb-4">
            {{ search_form|crispy }}
            <button class="btn btn-secondary" type="submit">🔎👨👩</button>
        </form>

        {% if crew_list %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Date of Joining</th>
                            <th>Date of Leaving</th>
                            <th>Vessel</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sailor in crew_list %}
                            <tr>
                                <td>{{ sailor.id }}</td>
                                <td>
                                    <a href="{{ sailor.get_absolute_url }}">{{ sailor.username }}
                                        {% if user == sailor %} (Me){% endif %}
                                    </a>
                                </td>
                                <td>{{ sailor.first_name }}</td>
                                <td>{{ sailor.last_name }}</td>
                                <td>{{ sailor.position }}</td>
                                <td>{{ sailor.date_of_joining }}</td>
                                <td>{{ sailor.date_of_leaving }}</td>
                                <td><a href="{{ sailor.vessel.get_absolute_url }}">{{ sailor.vessel }}</a></td>
                                <td>
                                    <a href="{% url "crewing:crew-update" pk=sailor.id %}" class="btn btn-warning">
                                        Update
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="lead">There are no sailors in the service.</p>
        {% endif %}
    </div>
{% endblock %}
