{% extends "base.html" %}

{% block content %}
    <div>
        <div class="text-center text-black">
            <h1 class="display-4">Familenko Crewmanagement</h1>
            <p class="lead">Private Maritime Company</p>
            <hr class="my-4">
            <h2 class="display-5">Brief information about us</h2>
            <p class="lead">In this company, you have the chance to unite with:</p>
            <ul class="list-unstyled">
                <li><strong>Our crew:</strong> {{ num_sailors }} sailors</li>
                <li><strong>Our fleet:</strong> {{ num_vessels }} vessels</li>
                <li><strong>Our partners:</strong> {{ num_companies }} Shipowners</li>
            </ul>
            <hr class="my-4">
            <p class="lead">You have visited this page
                {{ num_visits }} time{{ num_visits|pluralize }}.
            </p>
        </div>
    </div>
{% endblock %}

