{% extends "base.html" %}
{% load custom_filter %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-5">
    <h1 class="display-4 mb-4">
      POSITIONS
    </h1>
    {% if position_list %}
      <table class="table">
        <tr>
          <th>Name</th>
          <th style="text-align: center;">Responsibilities</th>
          <th style="width: 150px; text-align: center;">Workers quantity</th>
        </tr>
        {% for position in position_list %}
          <tr>
            <td style="width: 150px;">
                <a href="{{ position.get_absolute_url }}">{{ position.name }}</a>
            </td>
            <td>
              {{ position.responsibility|truncatewords:25 }}
            </td>
            <td style="width: 150px; text-align: center;">
              {{ workers_count|default:"N/A"|get_item:position.id }}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
        <p>There are no vessels type in the service.</p>
    {% endif %}
  </div>
{% endblock %}
